.custom-center{
    margin: 0 auto;
    width: 65px;
    text-align: center;
    color: grey;
}

.appHeader{
    background :  #673ab7;
    height : 53px;
}

.ulOverflow{
    height: 59vh;
    overflow-y: scroll;
    display:  block;

}
/* .error{
    text-align: CENTER;
    text-transform: capitalize;
} */

.ulCorrect{
    margin : 21px;
}

.modalCorrect{
    padding-left: 30px;
    padding-right: 30px;

}

.pop-up{
    display: block;
    max-height: 60vh;
    overflow-y: scroll;
}

.sellerName{
    font-size : 17px;
}

.overflowCorrect{
    height : 200px;
    overflow-y: scroll;
}

.homeGrid{
    margin-top : 70px;
    /* padding : 0px 20px 0px 20px; */
    text-align: center;
    vertical-align: center;
    background: white;
}

/* .homeGrid a{
    text-decoration: none;
    color : black;
} */

.homeGrid .row{
    margin-bottom : 18px;
}

.homeGrid .row .col-50, .homeGrid .row .col-100{
    border : 1px solid lightgrey;
    /* border-radius: 20px; */
    color : black;
    padding : 20px;
    text-align: center; 
    margin : 0px;
    /* background :#009688; */
    background : white;
}

.homeGrid i{
    font-size : 30px;
}

.homeGrid .gridNo{
    font-size : 30px;
}

.homeGrid .gridText{
    font-size : 15px;
}

.backRed{
    background : red;
}          
/* .left{
    float: left;
    width: 60%;
} 
.right{
    float: right;
    width: 40%;
} */
.autoSize{
    width: 100%;
    height:100%;
}
.myModal{
    width: 400px;
    height: 400px;
    background-color: aqua;
}


/* Container needed to position the button. Adjust the width as needed */
/* .imageContainer {
    position: relative;
    width: 20%;
    float: left;
  } */
  
  /* Make the image responsive */
  /* .imageContainer img {
    width: 100%;
    height: auto;
  }
   */
  /* Style the button and place it in the middle of the container/image */
  /* .imageContainer .editButton {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 8px;
    padding: 4px 4px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  } */
  /* .deleteButton {
    position: absolute;
    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 8px;
    padding: 4px 4px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  } */
  
  /* .imageContainer .editButton:hover {
    background-color: black;
  }
  .imageContainer .deleteButton:hover {
    background-color: black;
  } */